<ul>
    {% for item in include.nav %}
    {% if item.type == 'separated' %}
        <li class="spaced">
            <hr>
    {% else %}
        <li>
    {% endif %}
            <a href="{{ site.url }}{{ site.baseurl }}{{ item.link }}">
                {% if item.type == 'separated' %}
                    <h2>{{ item.name }}</h2>
                {% else %}
                    {{ item.name }}
                {% endif %}
                {% if item.subnav %}
                    <button class="collapser"></button>
                {% endif %}
            </a>
            {% if item.subnav %}
                {% include menu.html nav=item.subnav %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
