<aside id="menu">
    <header>
        <a  href="{{site.url}}/{{site.baseurl}}/" title="Go to home page of documentation"><img src="{{site.url}}/{{site.baseurl}}/assets/images/simple_logo.png" alt="" title="Go to DataMa website">DataMa</a>
        <a href="{{site.url}}/{{site.baseurl}}/search.html" class="search" title="Go to search page"><i class="fas fa-search"></i></a>
        <a href="#" class="burger" title="Collapse/Expand sidebar"><i class="fas fa-bars"></i></a>
    </header>
    {% if include.search == 1 %}
    <main>
        <div class="search-group">
            <form action="{{site.url}}/{{site.baseurl}}/search.html" method="get">
                <input type="text" id="search-input-aside" name="q" class="search-bar" placeholder="search...">
            </form>
        </div>
        <div id="results-container-aside" class="search-result"></div>
    </main>
    {% endif %}
    <nav>
        {% include menu.html nav=include.nav %}
        <hr>
        <ul class="links">
            <li>
                <h3>Links</h3>
            </li>
            <li>
                <a href="https://datama.fr" title="Website"> <img src="{{site.url}}/{{site.baseurl}}/assets/images/aside/cropped-Datala-Logo.png" style="width: 24px; height: 24px;margin-right: 6px;">Website</a>
            </li>
            <li>
                <a href="https://twitter.com/DataMa_Solution" title="Twitter"> <img src="{{site.url}}/{{site.baseurl}}/assets/images/aside/twitter.png" style="width: 24px; height: 24px;margin-right: 6px;">Twitter</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/company/11195323" title="LinkedIn"> <img src="{{site.url}}/{{site.baseurl}}/assets/images/aside/logo-linkedin.png">LinkedIn</a>
            </li>
        </ul>
    </nav>
</aside>
