<!doctype html>
<html lang="en">
<head>
    <title>DataMa documentation - {{ page.title }}</title>
    <link rel="icon" href="{{site.url}}/{{site.baseurl}}/assets/images/favicon.ico" />
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="DataMa documentation - {{ page.description }}"/>
    <meta name="og:title" content="DataMa documentation - {{ page.title }}">
    <meta name="og:type" content="website">
    <meta name="google-site-verification" content="TUNtfUemY95_1kk74l6s9zMJE_bHp3SxLHcbu5eiow0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{site.url}}/{{site.baseurl}}/assets/css/style.css">
    <script src="{{site.url}}/{{site.baseurl}}/assets/js/jquery.js"></script>
    <script src="{{site.url}}/{{site.baseurl}}/assets/js/cookies.js"></script>
    <script src="{{site.url}}/{{site.baseurl}}/assets/js/sws.js" type="text/javascript"></script>
</head>
<body>
<div class="welcome">
    {% include header.html %}
    <div>
        <p><img src="{{site.url}}/{{site.baseurl}}/assets/images/aside/Datama_logo_horizontal2.png" data-origin="images/Datama_logo_horizontal2.png" alt="logo2"></p>
        <h1> Smart analytics. Documented </h1>
        <a id="gotoDoc" href="#menu" class="btn btn-primary">Get Started</a>
    </div>
    <span class="bounce"><i class="fas fa-angle-down"></i></span>
</div>
{% include navigation.html nav=site.data.navigation  search=1 %}
<main>
    <h1>{{ page.title }}</h1>
    {{ content }}
    {% include footer.html %}
</main>
<script src="{{site.url}}/{{site.baseurl}}/assets/js/main.js"></script>
<script>
    search.listen('search-input-aside', {
        fields: {
            title: {
                weight: 1000
            },
            keywords: {
                weight: 500
            },
            tags: {
                weight: 250
            },
            body: {
                weight: 100
            }
        },
        results: {
            template: (element) => {
                return `<li class="search-result"><a href="${search.json[element.id].url}" title="${search.json[element.id].title}"><strong>${search.json[element.id].title}</strong><small>${search.json[element.id].body.substr(0, 50)}</small></a></li>`
            },
            limit: 15,
            container: 'results-container-aside'
        }
    })
</script>
</body>
</html>
